/*shared*/
*{
    margin: 0;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.button{
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.banner-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button1, .button2{
    padding: 12px 20px 12px 20px;
    border-radius: 10000px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.button1{
    color: white;
}

.button2{
    color: green;
    background-color: transparent;
    border: 1px solid green;
    transition: transform 0.3s ease;
}

.gradient {
  background-image: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

.button-new{
    background-color: #00FF88;
    color: black;
    border-radius: 1000px;
    padding: 8px 16px 8px 16px;
    width: 75px;
    height: 38px;
    font-size: 18px;
    font-weight: 600;
}

.button:hover, .button1:hover, .button2:hover,
.bg:hover,.videos-card:hover, .host-card:hover,
.host-socials .icon:hover, .fi:hover{
    transform: translateY(-5px);
}

/*nav bar*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;
    padding: 16px 200px 16px 200px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

nav .menu a{
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
}

.menu a:hover {
  color: #9100F8;
}

nav h2{
    color: white;
    font-size: 2rem;
}

nav h2 .wave, .footer-container .wave{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* banner */
#banner{
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 760px;
}

.banner-content, .why-choose-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.banner-mic{
    margin-top: 101px;
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
}

.mic, .button-new{
    position: relative;
}

.hero-circle{
    z-index: 5;
}

.microphone{
    z-index: 10;
    top: -265px;
    right: -115px;
}

.button-new{
    z-index: 15;
    top: -370px;
    right: -130px;
    transition: all 0.3s ease;
}

.banner-content h2{
    color: white;
    font-size: 3rem;
    margin-bottom: 8px;
}

.banner-content p{
    color: white;
    margin-bottom: 40px;
    opacity: 0.8;
}

/* about */
#about{
    background-color: #1A0B2E;
    max-width: 100%;
    max-height: 646px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 200px 120px 200px;
    color: white;
}

.about-title{
    font-size: 3rem;
    margin-bottom: 16px;
    text-align: center;
}

.about-subtitle{
    text-align: center;
    margin-bottom: 80px;
    opacity: 0.8;
}

.about-info{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-top: 80px;
}

.about-info-info{
    text-align: center;
    
}

.about-info-info h2{
    color: #00FF88;
    font-size: 3rem;
    margin-bottom: 16px;
}

.about-info-info p{
    opacity: 0.8;
}

hr{
    opacity: 0.1;
}

/* why choose */
#why-choose{
    padding: 120px 200px 120px 200px;
    max-width: 100%;
    max-height: 1121px;
    color: white;
    background-color: #1A0B2E;
}

.why-choose-title{
    font-size: 2rem;
    margin-bottom: 40px;
}

#audio{
    grid-area: audio;
}

#mobile{
    grid-area: mobile;
}

#globe{
    grid-area: globe;
}

#interview{
    grid-area: interview;
}

#rich{
    grid-area: rich;
}
.why-choose-content{
    display: grid;
    gap: 30px;
    height: 783px;
    grid-template-areas:
    "audio mobile mobile"
    "audio globe globe"
    "interview interview rich";
}

.bg{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: transform 0.3s ease;
}

.why-choose-content img, h3{
    margin-bottom: 16px;
}

.why-choose-content h3{
    font-size: 24px;
}

.why-choose-content p{
    opacity: 0.6;
}

/* feature */
#feature{
    background-color: #1A0B2E;
    padding: 120px 200px 120px 200px;
}

.feature-container{
    color: white;
}

.feature-title, .host-title{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.feature-title{
    margin-bottom: 24px;
}

.videos{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 120px;
}

.videos-card{
    width: 380px;
    height: 440px;
    transition: transform 0.3s ease;
}

.videos-card iframe{
    width: 380px; 
    height: 214px;
    border-radius: 24px 24px 0px 0px;
}

.videos-card-writing{
    padding: 24px;
    background-color: #250D44;
    border-radius: 0px 0px 24px 24px;
}

.videos-card h3{
    font-size: 24px;
}

.videos-card p{
    opacity: 0.6;
    margin-bottom: 12px;
}

.videos-card .clock{
    color: #00FF88;
}

.host-card{
    display: flex;
    background-color: #250D44;
    border-radius: 40px;
    padding: 40px;
    gap: 40px;
    transition: transform 0.3s ease;
}

.host-title{
    margin-bottom: 40px;
}

.host-content h3{
    font-size: 32px;
}

.host-content p{
    opacity: 0.6;
    margin-bottom: 20px;
}

.host-socials{
    display: flex;
    flex-direction: space-around;
    gap: 8px;
}

.host-socials .icon{
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.host-socials img{
    padding: 4.7px 0px 0px 1.67px;
    position: relative;
}

.host-socials img{
    z-index: 5;
    top: 8px;
    right: -11px;
}

/* footer */
footer{
    background-image: url("./assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;    
}

.footer-container{
    color: white;
    padding: 120px 120px 10px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title{
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-top: -28px;
}

.footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
    cursor: pointer;
}
.fi{
    transition: transform 0.3s ease;
}

.footer-copyright{
    margin-top: 10px;
    opacity: 0.6;
}

.footer-container hr{
    width: 50%;
    border: 1px solid gray;
    margin-top: 80px;
}

.burger{
    display: none;
}

/* animation and responsiveness */
.fade {
  animation: fade 2s infinite;
}

@keyframes fade {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

@media screen and (max-width:576px){
    .burger{
        display: block;
    }
    .nav{
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav .button, .menu a{
        display: none;
    }
    .mic{
        width: 340px;
    }
    #banner{
        background-image: url("./assets/hero-bg-576.png");
    }
    #about, #feature, #banner, #why-choose{
        padding: 40px 20px 60px 20px;
    }
    .about-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
    .why-choose-content{
        grid-template-areas:
        "audio"
        "mobile"
        "globe"
        "interview"
        "rich";
    }

    .feature{
        margin-top: 500px
    }

    .videos{
        flex-direction: column;
        align-items: center
    }
    .host-card{
        flex-direction: column;
        align-items: center;
    }
    .host-content, .banner-content p, .why-choose-title{
        text-align: center;
    }
    .host-socials{
        justify-content: center;
    }
    .host-socials img{
        left: -1px;
    }
    #footer{
        background-image: url("assets/footer-576.png");
    }
    .footer-icons{
        flex-wrap: wrap;
    }
    .footer-container{
        padding: 90px;
    }
}
