/*shared*/
*{
    margin: 0;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.button{
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.gradient {
  background-image: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

/*nav bar*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #412567;
    padding: 16px 200px 16px 200px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

nav .menu a{
    text-decoration: none;
    color: white;
}

nav h2{
    color: white;
}

nav h2 .wave{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}