/*shared*/
*{
    margin: 0;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.button{
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.banner-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button1, .button2{
    padding: 12px 20px 12px 20px;
    border-radius: 10000px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.button1{
    color: white;
}

.button2{
    color: green;
    background-color: transparent;
    border: 1px solid green;
    transition: transform 0.3s ease;
}

.gradient {
  background-image: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

.button-new{
    background-color: #00FF88;
    color: black;
    border-radius: 1000px;
    padding: 8px 16px 8px 16px;
    width: 75px;
    height: 38px;
    font-size: 18px;
    font-weight: 600;
}

.button:hover, .button1:hover, .button2:hover{
    transform: translateY(-4px);
}

/*nav bar*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #412567;
    padding: 16px 200px 16px 200px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

nav .menu a{
    text-decoration: none;
    color: white;
}

nav h2{
    color: white;
}

nav h2 .wave{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* banner */
#banner{
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 760px;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.banner-mic{
    margin-top: 101px;
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
}

.mic, .button-new{
    position: relative;
}

.hero-circle{
    z-index: 5;
}

.microphone{
    z-index: 10;
    top: -265px;
    right: -115px;
}

.button-new{
    z-index: 15;
    top: -370px;
    right: -130px;
    transition: all 0.3s ease;
}

.button-new:hover {
  background-color: transparent;
  border: 2px solid #00FF88;
  color: white;
}

.banner-content h2{
    color: white;
    font-size: 3rem;
    margin-bottom: 8px;
}

.banner-content p{
    color: white;
    margin-bottom: 40px;
}
